body{
    background-color: rgb(255, 255, 255);
}
.container{
    margin: 2px;
    border: 1px solid black;
}
.grid-container{
    margin: 55px 10px 10px 10px;
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    display: grid;
    float: right;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 20px;

    
}
.item{
    background-color: rgb(220, 241, 211);
    padding: 20px;
    justify-content: center;
    font-size: 15px;
}
.imgdiv{
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 40px;
    width: 50%;
}