.container{
    width: 28%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;
    border: 3px solid black;
}
table{
    border-collapse: collapse;
}
td{
    text-align: center;
    padding: 3%;
}

tr{
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 1%;
}

